<?xml version="1.0"?>
<configuration>
  
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ArduinoFermi.My.MySettings.DatabaseFermiConnectionString"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=\\fiammitprt05\Fermi\DatabaseFermi.mdb"
      providerName="System.Data.OleDb" />
    <add name="ArduinoFermi.My.MySettings.MSSQLConnectionString"
      connectionString="Data Source=RENAPC\SQLEXPRESS;Initial Catalog=DatabaseFermiMSSQL;Integrated Security=True" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>