<?xml version="1.0"?>
<configuration>
  
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ArduinoFermi.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ArduinoFermi.My.MySettings.VRNFermiConnectionString"
      connectionString="Data Source=MATTI\SQLEXPRESS;Initial Catalog=VRNFermi;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <userSettings>
    <ArduinoFermi.My.MySettings>
      <setting name="Etichetta" serializeAs="String">
        <value>Label5</value>
      </setting>
    </ArduinoFermi.My.MySettings>
  </userSettings>
</configuration>